div {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: 20px;
    padding-top: 20px;
    border: 20px solid red;
    border: 5px dashed red;/*虛線*/
            }
body {
  margin: 0;
  overflow-y: auto;
}

a {
  color: #666666;
  text-decoration: none;
}

h1 {
    text-align: center;
  }
  
h2 {
    text-align: left;
  }

.item {
  text-align: center;
}

#goToTopButton:hover {
  cursor: pointer;
}
